<div class="container">
<h1>New dose</h1>

<%= simple_form_for [ cocktail, dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit dose", class: "btn btn-primary" %>
<% end %>

</div>
